<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>test</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <ul>

        {{ range site.RegularPages }}
            <li>{{.Title}} // {{ .Date.Format "January 2, 2006 3:04 PM MST" }} // {{ .Date }}</li>

        {{ end}}

        </ul>

    </body>
</html>
